.cardFrame {
  display: inline-block;
  padding: 6px;
  border-radius: 5% / 3.5%;
  perspective: 750px;
  isolation: isolate;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.card {
  --gradX: 50%;
  --gradY: 50%;
  --sparkX: 50%;
  --sparkY: 50%;
  --opacity: 0.75;
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  
  --charizard1: #fac;
  --charizard2: #ddccaa;
  --pika1: #54a29e;
  --pika2: #a79d66;
  --eevee1: #efb2fb;
  --eevee2: #acc6f8;
  --mewtwo1: #efb2fb;
  --mewtwo2: #acc6f8;

  position: relative;
  width: clamp(150px, 45vh, 14vw);
  height: clamp(210px, 63vh, 18.9vw);
  border-radius: 5% / 3.5%;
  overflow: hidden;
  isolation: isolate;
  background: linear-gradient(135deg, #000 9%, #3B148A 53%, #43004E 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 
    -5px -5px 5px -5px rgba(255,255,255,0.3), 
    5px 5px 5px -5px rgba(255,255,255,0.3), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0.1),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transform-origin: center;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  touch-action: none;
  z-index: 10;
  border: 8px solid #FFF;
  margin: 40px 20px;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

.card::before {
  background-position: var(--gradX) var(--gradY);
  background-size: 300% 300%;
  background-image: radial-gradient(
    circle at var(--gradX) var(--gradY),
    rgba(255,255,255,0.15) 0%,
    rgba(255,255,255,0.05) 30%,
    transparent 60%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
}

.card::after {
  opacity: var(--opacity);
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
    url("https://assets.codepen.io/13471/holo.png"), 
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: var(--sparkX) var(--sparkY);
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
}

.card:hover {
  box-shadow: 
    -20px -20px 30px -25px rgba(255,255,255,0.4), 
    20px 20px 30px -25px rgba(255,255,255,0.4), 
    -7px -7px 10px -5px rgba(255,255,255,0.3), 
    7px 7px 10px -5px rgba(255,255,255,0.3), 
    0 0 13px 4px rgba(255,255,255,0.5),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card:hover::before {
  animation: none;
  background-image: radial-gradient(
    circle at var(--gradX) var(--gradY),
    rgba(255,255,255,0.25) 0%,
    rgba(255,255,255,0.15) 25%,
    rgba(255,255,255,0.05) 50%,
    transparent 70%
  );
  background-position: var(--gradX) var(--gradY);
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card:hover::after {
  background-position: var(--sparkX) var(--sparkY);
  filter: brightness(1) contrast(1);
  opacity: var(--opacity);
}

.card.isHovered {
  box-shadow: 
    -20px -20px 30px -25px rgba(255,255,255,0.4), 
    20px 20px 30px -25px rgba(255,255,255,0.4), 
    -7px -7px 10px -5px rgba(255,255,255,0.3), 
    7px 7px 10px -5px rgba(255,255,255,0.3), 
    0 0 13px 4px rgba(255,255,255,0.5),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.isHovered::before {
  animation: none;
  background-image: radial-gradient(
    circle at var(--gradX) var(--gradY),
    rgba(255,255,255,0.25) 0%,
    rgba(255,255,255,0.15) 25%,
    rgba(255,255,255,0.05) 50%,
    transparent 70%
  );
  background-position: var(--gradX) var(--gradY);
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card.isHovered::after {
  background-position: var(--sparkX) var(--sparkY);
  filter: brightness(1) contrast(1);
  opacity: var(--opacity);
}

.card.animated {
  transition: none;
  animation: card 12s ease 0s 1;
}

.card.animated::before { 
  transition: none;
  animation: holoGradient 12s ease 0s 1;
}

.card.animated::after {
  transition: none;
  animation: holoSparkle 12s ease 0s 1;
}

.card.active::before,
.card.active::after {
  animation: none;
  transition: none;
}

.card.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
}

.card.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
}

.card.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
}

.card.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
}

.card.eevee:hover {
  box-shadow: 
    0 0 30px -5px white,
    0 0 10px -2px white,
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.eevee:hover::before,
.card.eevee.active::before {
  background-image: linear-gradient(
    115deg,
    transparent 20%,
    var(--color1) 36%,
    var(--color2) 43%,
    var(--color3) 50%,
    var(--color4) 57%,
    var(--color5) 64%,
    transparent 80%
  );
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
  }
  13%, 16% {
    opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
  }
  35%, 38% {
    opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
  }
  55% {
    opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
}

@keyframes card {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}